asgiref==3.7.2
beautifulsoup4==4.12.2
crispy-bootstrap5==0.7
Django==4.0.5
django-bootstrap-v5==1.0.11
django-bootstrap5==23.3
django-crispy-forms==2.0
soupsieve==2.4.1
sqlparse==0.4.4
tzdata==2023.3
