{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="video-container">
    <video class="video-background" muted autoplay loop preload="auto" poster="{% static 'assets/img/poster.jpg' %}">
        <source src="{% static 'assets/video/mixkit-suspended-bridge-with-traffic-40-medium.mp4'%}" type="video/mp4">
    </video>
    <div class="overlay"></div>
    <div class="content">
        <div class="text-center">
            <h1><strong class="">Catálogo de Vehículos</strong></h1>
            <h5>¡Bienvenido al catálogo de vehículos!</h5>
            <br>
            <div class="container d-flex justify-content-center">
                <div>
                    <a class="btn btn-secondary mt-3 neon-button" href="{% url 'listar' %}">Catálogo vehículos</a>
                </div>
                <div class="ms-3">
                    <a class="btn btn-success mt-3 neon-button" href="{% url 'vehiculo_add' %}">Agregar Vehículo</a>
                </div>
            </div>
        </div>
    </div>
</main>
<!--footer black-->
<footer id="myFooter" class="fixed-bottom bg-transparent text-center text-white py-1">
    <div class="container-flex">
        <p class="mt-2 fs-5"><strong>Vehiculos APP <span class="fs-6">© 2023 Copyright:
            <a class="text-white" href="https://fg-gt-portafolio.netlify.app/">FG|GT</a></span>
    </div></strong></p>
    </div>
</footer>
<!--end footer black-->


{% endblock content %}
