{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Barra de búsqueda de vehículos -->
<br>
<h1 class="text-center"><strong>Catálogo de Vehículos <img src="{% static 'assets/img/car3.png' %}" alt=""></strong></h1>
<br>
<div class="container d-flex justify-content-center">
    <form class="d-flex align-items-center" method="GET" action="{% url 'listar' %}">
        <div class="input-group">
            <input class="form-control rounded shadow-lg" type="search" placeholder="Buscar Categorias " aria-label="Search" name="query"
                value="{{ request.GET.query }}">
            <input class="form-control rounded ms-2 shadow-lg" type="search" placeholder="Buscar año" aria-label="Search" name="año" value="{{ annio }}">
            <select class="form-select rounded ms-3 shadow-lg" name="precio_condicion">
                <option value="" {% if not precio_condicion %}selected{% endif %}>Precio</option>
                <option value="bajo" {% if precio_condicion == 'bajo' %}selected{% endif %}>Bajo</option>
                <option value="medio" {% if precio_condicion == 'medio' %}selected{% endif %}>Medio</option>
                <option value="alto" {% if precio_condicion == 'alto' %}selected{% endif %}>Alto</option>
            </select>
            <button class="btn btn-outline-success rounded ms-2 shadow-lg" type="submit">Buscar</button>
            <button class="btn btn-outline-secondary rounded ms-2 shadow-lg" type="button" onclick="limpiarBusqueda()">Limpiar</button>
            </div>
    </form>
</div>

{% endblock content %}

{% block list %}
<!-- Bloque de listado de vehículos -->
<br><br>
<div class="container shadow-lg">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Serial Carrocería</th>
                    <th>Serial Motor</th>
                    <th>Categoría</th>
                    <th>Año</th>
                    <th>Precio</th>
                    <th>Condicion Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for vehiculo in vehiculos %}
                <tr>
                    <td>{{ vehiculo.marca }}</td>
                    <td>{{ vehiculo.modelo }}</td>
                    <td>{{ vehiculo.serial_carroceria }}</td>
                    <td>{{ vehiculo.serial_motor }}</td>
                    <td>{{ vehiculo.categoria }}</td>
                    <td>{{vehiculo.año }}</td>
                    <td>{{ vehiculo.precio }}</td>
                    <td>
                        {% if vehiculo.precio <= 7000000 %}
                            Bajo
                        {% elif vehiculo.precio > 7500000 and vehiculo.precio <= 16000000 %}
                            Medio
                        {% elif vehiculo.precio > 16000000 %}
                            Alto
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'editar_vehiculo' vehiculo.pk %}" class="btn btn-success">Editar</a>
                        <a href="{% url 'eliminar_vehiculo' vehiculo.pk %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="container" style="margin: 120px;"></div>

{% endblock list %}

{% block scripts %}
<script>
    function limpiarBusqueda() {
        document.querySelector('input[name="query"]').value = '';
        document.querySelector('form').submit();
    }
</script>
{% endblock scripts %}
