{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<!--Login-->
<br><br>
<div class="container py-5 w-25 p-4 justify-content-center shadow-lg ">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <button class="btn btn-success" type="submit">Login</button>
    </form>
    <p class="text-center mt-5">
        Aun no tienes cuenta?, <a href="/registro"> <mark>REGISTRATE</mark></a>
    </p>
</div>
<!-- footer black-->
<footer id="myFooter" class="fixed-bottom bg-black text-center text-white py-1">
    <div class="container-flex">
        <p class="mt-2"><strong>Vehiculos APP</strong></p>
    </div>
</footer>
<!-- end footer black-->
<!-- script vanish footer-->
<script>
    // Obtiene el elemento del footer
    var footer = document.getElementById("myFooter");

    // Agrega un event listener para el evento "mouseover"
    footer.addEventListener("mouseover", function () {
        // Oculta el footer
        footer.style.display = "none";
    });

    // Agrega un event listener para el evento "mouseout"
    footer.addEventListener("mouseout", function () {
        // Muestra el footer
        footer.style.display = "block";
    });
</script>
{% endblock %}