{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="container d-flex justify-content-center">
    <div class="card shadow-lg">
        <div class="card-body">
            <h1 class="card-title"><strong>Editar Vehículo</strong></h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center pt-3">
                    <button type="submit" class="btn btn-primary"><strong>Actualizar</strong></button>
                    <button type="button" class="btn btn-secondary" onclick="cancelar()">Cancelar</button>

                </div>
            </form>
        </div>
    </div>
</div>
<!--footer black-->
<footer id="myFooter" class="fixed-bottom bg-black text-center text-white py-1">
    <div class="container-flex">
        <p class="mt-2"><strong>Vehiculos APP</strong></p>
    </div>
</footer>
<!--end footer black-->
<!--script vanish footer black-->
<script>
//cancelar btn
function cancelar() {
        history.back(); // Regresar a la página anterior
    }
    // Obtiene el elemento del footer
    var footer = document.getElementById("myFooter");

    // Agrega un event listener para el evento "mouseover"
    footer.addEventListener("mouseover", function () {
        // Oculta el footer
        footer.style.display = "none";
    });

    // Agrega un event listener para el evento "mouseout"
    footer.addEventListener("mouseout", function () {
        // Muestra el footer
        footer.style.display = "block";
    });
</script>
{% endblock %}